Repository microsoft/chat-copilot, pull requests merged in 2023-08, with the labels that each got.

#66 Add configuration for web api auth via Azure AD, and extend readme
  README.md
  webapi/appsettings.json
  webapp/.env.example
  webapp/src/Constants.ts
Labels: documentation, webapp, webapi, PR: ready to merge

#84 Removing output from settings update command.
  .github/workflows/copilot-deploy-backend.yml
Labels: PR: ready for review, github actions

#78 Update README to use Github-hosted images
  README.md
  images/Cert-Issue.png
  images/Document-Memory-Sample-1.png
  images/Document-Memory-Sample-2.png
  images/UI-Sample.png
  importdocument/README.md
Labels: documentation, PR: ready for review

#85 Let chatSession/create return the full chatSession object
  webapi/CopilotChat/Models/CreateChatResponse.cs
  webapp/src/components/chat/persona/PromptEditor.tsx
  webapp/src/components/chat/tabs/PersonaTab.tsx
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/models/ChatSession.ts
  webapp/src/libs/services/ChatService.ts
Labels: webapp, webapi, PR: ready for review, PR: regression fix

#87 Sequential panner stabilization
  webapi/CopilotChat/Options/PlannerOptions.cs
  webapi/CopilotChat/Skills/ChatSkills/CopilotChatPlanner.cs
  webapi/CopilotChat/Skills/ChatSkills/ExternalInformationSkill.cs
  webapi/appsettings.json
  webapp/src/Constants.ts
  webapp/src/components/chat/plan-viewer/PlanStepCard.tsx
  webapp/src/components/chat/plan-viewer/PlanStepInput.tsx
  webapp/src/components/chat/plan-viewer/PlanViewer.tsx
  webapp/src/redux/features/conversations/conversationsSlice.ts
Labels: webapp, webapi, PR: ready to merge, sk team issue

#94 Update local deployment scripts and main readme for quickstart
  README.md
  scripts/.env
  scripts/Configure.ps1
  scripts/Configure.sh
  scripts/Install-apt.sh
  scripts/Install-brew.sh
  scripts/Install.ps1
  scripts/README.md
  scripts/Start-Backend.ps1
  scripts/Start-Backend.sh
  scripts/Start-Frontend.ps1
  scripts/Start-Frontend.sh
  scripts/Start.ps1
  scripts/Variables.ps1
  webapi/config.ps1
Labels: documentation, webapi, PR: ready for review

#90 Updating env variables in copilot-chat-tests.yml file
  .github/workflows/copilot-chat-tests.yml
Labels: PR: ready for review, PR: ready to merge, github actions

#97 Update README images
  README.md
Labels: documentation, PR: ready to merge

#62 adding Chroma support
  webapi/CopilotChat/Controllers/BotController.cs
  webapi/CopilotChat/Controllers/ChatMemoryController.cs
  webapi/CopilotChat/Skills/ChatSkills/ChatSkill.cs
  webapi/CopilotChat/Skills/ChatSkills/DocumentMemorySkill.cs
  webapi/CopilotChat/Skills/ChatSkills/SemanticChatMemoryExtractor.cs
  webapi/CopilotChat/Skills/ChatSkills/SemanticChatMemorySkill.cs
  webapi/CopilotChatWebApi.csproj
  webapi/Options/MemoriesStoreOptions.cs
  webapi/Options/QdrantOptions.cs
  webapi/Options/VectorMemoryWebOptions.cs
  webapi/SemanticKernelExtensions.cs
  webapi/appsettings.json
Labels: enhancement, webapi, PR: ready to merge

#96 Update SequentialPlanner Configuration Instructions + improved ExternalInformationSkill and PlanStepInput
  webapi/CopilotChat/Skills/ChatSkills/ExternalInformationSkill.cs
  webapi/README.md
  webapi/appsettings.json
  webapp/src/components/chat/plan-viewer/PlanStepInput.tsx
Labels: documentation, webapp, webapi, PR: ready to merge

#88 Added support for setting Web App region in deployment - Fixes #17
  deploy/deploy-azure.ps1
  deploy/deploy-azure.sh
Labels: deployment, PR: ready to merge

#101 Fix CodeQL error
  webapi/CopilotChat/Controllers/ChatMemoryController.cs
Labels: webapi, PR: ready for review

#82 Service option controller
  webapi/CopilotChat/Controllers/ServiceOptionsController.cs
  webapi/CopilotChat/Models/Responses/CreateChatResponse.cs
  webapi/CopilotChat/Models/Responses/ServiceOptionsResponse.cs
  webapi/CopilotChat/Models/Responses/SpeechTokenResponse.cs
  webapp/src/App.tsx
  webapp/src/Constants.ts
  webapp/src/components/chat/tabs/DocumentsTab.tsx
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/models/ServiceOptions.ts
  webapp/src/libs/services/BaseService.ts
  webapp/src/libs/services/ChatService.ts
  webapp/src/redux/features/app/AppState.ts
  webapp/src/redux/features/app/appSlice.ts
Labels: webapp, webapi, PR: ready to merge

#103 Add BotResponsePrompt model and Refactor PromptDialog
  webapi/CopilotChat/Models/BotResponsePrompt.cs
  webapi/CopilotChat/Options/PromptsOptions.cs
  webapi/CopilotChat/Skills/ChatSkills/ChatSkill.cs
  webapp/src/components/chat/prompt-dialog/PromptDialog.tsx
  webapp/src/libs/models/BotResponsePrompt.ts
Labels: webapp, webapi, PR: ready for review

#106 Fixing broken deploy to azure button in deployment README.
  deploy/README.md
Labels: documentation, deployment, PR: ready for review

#109 Fix typo in README.md
  README.md
Labels: documentation, PR: ready for review

#98 Readme: Provide instructions if used custom model naming for Azure OpenAI
  README.md
  scripts/Configure.sh
Labels: documentation, PR: feedback to address, PR: ready for review

#83 Upload documents in parallel + truncate text for long document names
  webapi/CopilotChat/Controllers/DocumentImportController.cs
  webapp/src/components/chat/chat-history/ChatHistory.tsx
  webapp/src/components/chat/chat-history/ChatHistoryDocumentContent.tsx
  webapp/src/components/chat/chat-list/ChatListItem.tsx
  webapp/src/components/chat/tabs/DocumentsTab.tsx
  webapp/src/styles.tsx
Labels: enhancement, webapp, webapi, PR: ready for review

#127 🔧 Update OpenApiPlugin paths
  .gitignore
  webapi/Controllers/ChatController.cs
Labels: bug, webapi, PR: ready for review, PR: ready to merge, PR: regression fix

#124 Run formatting scripts during PR builds
  .github/workflows/copilot-build-backend.yml
  .github/workflows/copilot-build-frontend.yml
  .github/workflows/copilot-chat-package.yml
  .github/workflows/copilot-deploy-backend.yml
  .github/workflows/copilot-deploy-frontend.yml
  .github/workflows/copilot-deploy-pipeline.yml
  .github/workflows/copilot-test-e2e.yml
  .github/workflows/node-pr.yml
  README.md
  scripts/README.md
  webapi/Controllers/BotController.cs
  webapi/Controllers/ChatController.cs
  webapi/Controllers/ChatHistoryController.cs
  webapi/Controllers/ChatMemoryController.cs
  webapi/Controllers/ChatParticipantController.cs
  webapi/Controllers/DocumentImportController.cs
  webapi/Controllers/SpeechTokenController.cs
  webapi/Extensions/SemanticKernelExtensions.cs
  webapi/Extensions/ServiceExtensions.cs
  webapi/Models/Response/Bot.cs
  webapi/Program.cs
  webapi/Skills/ChatSkills/ChatSkill.cs
  webapi/Skills/ChatSkills/CopilotChatPlanner.cs
  webapi/Skills/ChatSkills/DocumentMemorySkill.cs
  webapi/Skills/ChatSkills/ExternalInformationSkill.cs
  webapi/Skills/ChatSkills/SemanticChatMemoryExtractor.cs
  webapi/Skills/ChatSkills/SemanticChatMemorySkill.cs
  webapi/Skills/TokenUtilities.cs
  webapp/package.json
  webapp/src/components/chat/chat-list/ListItemActions.tsx
  webapp/src/components/chat/controls/ShareBotMenu.tsx
  webapp/src/components/chat/invitation-dialog/InvitationCreateDialog.tsx
  webapp/src/components/chat/invitation-dialog/InvitationJoinDialog.tsx
  webapp/src/components/header/UserSettingsMenu.tsx
  webapp/src/components/header/settings-dialog/SettingSection.tsx
  webapp/src/components/open-api-plugins/plugin-wizard/steps/EnterManifestStep.tsx
  webapp/src/components/shared/BundledIcons.tsx
  webapp/src/components/utils/PluginUtils.ts
  webapp/src/components/views/BackendProbe.tsx
  webapp/src/components/views/Login.tsx
  webapp/src/components/views/MissingEnvVariablesError.tsx
  webapp/src/index.css
  webapp/src/redux/features/conversations/ConversationsState.ts
Labels: documentation, webapp, webapi, PR: ready for review, github actions

#135 Update permissions on deploy scripts + only run Github build workflows on relevant paths
  .github/workflows/copilot-build-backend.yml
  .github/workflows/copilot-build-frontend.yml
  scripts/deploy/deploy-azure.sh
  scripts/deploy/deploy-webapp.sh
  scripts/deploy/package-webapi.ps1
Labels: deployment, PR: ready for review, github actions

#136 Fix relative paths in deploy scripts
  scripts/deploy/deploy-webapp.ps1
  scripts/deploy/deploy-webapp.sh
Labels: deployment, PR: ready for review, PR: regression fix

#134 🐛 Fix connection error handling + uncaught exceptions
  webapi/Options/PlannerOptions.cs
  webapi/appsettings.json
  webapp/src/Constants.ts
  webapp/src/checkEnv.ts
  webapp/src/components/token-usage/TokenUsageGraph.tsx
  webapp/src/components/views/BackendProbe.tsx
  webapp/src/libs/hooks/useChat.ts
  webapp/src/redux/features/app/AppState.ts
  webapp/src/redux/features/app/appSlice.ts
  webapp/src/redux/features/message-relay/signalRMiddleware.ts
Labels: webapp, webapi, PR: ready for review

#140 Semantic memory pipeline service
  .github/workflows/memorypipeline-build.yml
  .vscode/settings.json
  CopilotChat.sln
  memorypipeline/Builder.cs
  memorypipeline/Program.cs
  memorypipeline/SemanticMemoryPipelineService.csproj
  memorypipeline/appsettings.json
  memorypipeline/nuget.config
Labels: PR: ready for review, github actions

#142 Fix app registration link in README
  README.md
Labels: documentation, PR: ready for review

#138 Rename "MemoriesStore" to "MemoryStore"
  scripts/deploy/main.bicep
  scripts/deploy/main.json
  webapi/Controllers/ServiceOptionsController.cs
  webapi/Extensions/SemanticKernelExtensions.cs
  webapi/Extensions/ServiceExtensions.cs
  webapi/Models/Response/ServiceOptionsResponse.cs
  webapi/Options/MemoriesStoreOptions.cs
  webapi/Options/MemoryStoreOptions.cs
  webapi/Skills/ChatSkills/CopilotChatPlanner.cs
  webapi/appsettings.json
  webapp/src/components/chat/tabs/DocumentsTab.tsx
  webapp/src/libs/models/ServiceOptions.ts
  webapp/src/redux/features/app/AppState.ts
Labels: webapp, webapi, deployment, PR: ready for review

#146 Rename project and namespace for memory pipeline
  CopilotChat.sln
  memorypipeline/Builder.cs
  memorypipeline/CopilotChatMemoryPipeline.csproj
  memorypipeline/Program.cs
  memorypipeline/nuget.config
Labels: PR: ready for review

#147 Update Chat Copilot gif on primary Readme.md
  README.md
Labels: documentation, PR: ready for review

#139 Fix C# CodeQL alerts + add JS/TS to CodeQL
  .github/workflows/codeql-analysis.yml
  webapi/Controllers/ChatMemoryController.cs
  webapp/tests/utils.ts
Labels: webapp, webapi, PR: ready for review, github actions

#145 🚀 Adding new app state to handle user info
  .gitignore
  webapp/src/App.tsx
  webapp/src/components/views/BackendProbe.tsx
  webapp/src/components/views/Error.tsx
  webapp/src/components/views/Loading.tsx
  webapp/src/components/views/index.ts
  webapp/src/styles.tsx
Labels: webapp, PR: ready for review

#154 Fix the memory pipeline build csproj file name
  .github/workflows/memorypipeline-build.yml
Labels: PR: ready for review

#155 Fix webapi semantic memory package ref
  webapi/nuget.config
Labels: PR: ready for review

#156 Temp workaround to include custom nuget feed for webapi in build pipe…
  .github/workflows/copilot-build-backend.yml
Labels: PR: ready for review

#157 Fix webapi package pipeline command line continuation
  .github/workflows/copilot-build-backend.yml
Labels: PR: ready for review, github actions

#158 Fix typo in ServiceExtensions
  webapi/Extensions/ServiceExtensions.cs
Labels: PR: ready for review

#159 Fix SemanticMemoryExtensions.cs formatting
  webapi/Extensions/SemanticMemoryExtensions.cs
  webapi/Extensions/ServiceExtensions.cs
Labels: PR: ready for review

#160 Sort SemanticMemoryExtensions.cs imports
  webapi/Extensions/SemanticMemoryExtensions.cs
Labels: PR: ready for review

#162 Updating template hash.
  scripts/deploy/main.json
Labels: deployment, PR: ready for review

#163 Hack Github action: no reusable workflow
  .github/workflows/copilot-deploy-pipeline.yml
Labels: PR: ready for review, github actions

#161 Update Readme with note on execution policy.
  README.md
Labels: documentation, PR: ready for review

#153 Functional improvements + bug squashing
  webapi/Controllers/DocumentImportController.cs
  webapi/Models/Response/BotResponsePrompt.cs
  webapi/Skills/ChatSkills/ExternalInformationSkill.cs
  webapi/appsettings.json
  webapp/src/App.tsx
  webapp/src/components/chat/prompt-dialog/PromptDialog.tsx
  webapp/src/components/chat/tabs/PlansTab.tsx
  webapp/src/components/header/UserSettingsMenu.tsx
  webapp/src/components/open-api-plugins/plugin-wizard/PluginWizard.tsx
  webapp/src/components/token-usage/TokenUsageGraph.tsx
  webapp/src/components/token-usage/TokenUsageLegendItem.tsx
  webapp/src/components/views/Login.tsx
  webapp/src/libs/models/BotResponsePrompt.ts
  webapp/src/redux/features/plugins/pluginsSlice.ts
Labels: webapp, webapi, PR: ready to merge

#149 Adding option to view full stepwise context after every run
  webapi/Models/Response/BotResponsePrompt.cs
  webapi/Models/Response/SemanticDependencies.cs
  webapi/Models/Response/StepwiseThoughtProcess.cs
  webapi/Skills/ChatSkills/ChatSkill.cs
  webapi/Skills/ChatSkills/ExternalInformationSkill.cs
  webapp/src/components/chat/prompt-dialog/PromptDialog.tsx
  webapp/src/components/chat/prompt-dialog/stepwise-planner/StepwiseStepView.tsx
  webapp/src/components/chat/prompt-dialog/stepwise-planner/StepwiseThoughtProcess.tsx
  webapp/src/components/chat/prompt-dialog/stepwise-planner/StepwiseThoughtProcessView.tsx
  webapp/src/components/utils/TextUtils.tsx
  webapp/src/libs/models/BotResponsePrompt.ts
  webapp/src/libs/models/Plan.ts
  webapp/src/libs/models/StepwiseThoughtProcess.ts
Labels: webapp, webapi, PR: ready for review

#176 Handling unable to create plan error
  webapi/Skills/ChatSkills/CopilotChatPlanner.cs
  webapp/src/components/chat/prompt-dialog/PromptDialog.tsx
Labels: webapp, webapi, PR: ready for review

#178 Tuned: Document chunking parameters and debug output (customer input)
  webapi/Controllers/DocumentImportController.cs
  webapi/Options/DocumentMemoryOptions.cs
  webapi/Program.cs
  webapi/appsettings.json
Labels: webapi, PR: ready for review

#175 Add postgresql memory store
  scripts/deploy/deploy-azure.ps1
  scripts/deploy/deploy-azure.sh
  scripts/deploy/main.bicep
  scripts/deploy/main.json
  webapi/CopilotChatWebApi.csproj
  webapi/Extensions/SemanticKernelExtensions.cs
  webapi/Options/MemoryStoreOptions.cs
  webapi/Options/PostgresOptions.cs
  webapi/appsettings.json
Labels: enhancement, webapi, deployment, PR: ready for review, external issue

#179 UX improvements: A11y labels, fixing space input bug, enabling RLFH, etc.
  webapp/src/App.tsx
  webapp/src/components/chat/ChatInput.tsx
  webapp/src/components/chat/ChatWindow.tsx
  webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
  webapp/src/components/chat/chat-list/ChatListItem.tsx
  webapp/src/components/chat/chat-list/ChatListSection.tsx
  webapp/src/components/chat/chat-list/ListItemActions.tsx
  webapp/src/components/chat/persona/PromptEditor.tsx
  webapp/src/components/chat/shared/EditChatName.tsx
  webapp/src/components/open-api-plugins/PluginGallery.tsx
  webapp/src/redux/features/app/AppState.ts
Labels: webapp, PR: ready for review

#181 Clean deployment scripts usage descriptions
  scripts/deploy/deploy-azure.sh
  scripts/deploy/deploy-webapi.sh
  scripts/deploy/deploy-webapp.sh
  scripts/deploy/package-webapi.sh
Labels: enhancement, deployment, PR: ready for review

#194 Fix Unix deployment of frontend
  .github/workflows/copilot-deploy-frontend.yml
  scripts/deploy/deploy-webapp.sh
Labels: deployment, PR: ready for review, github actions

#196 Acquire SemanticMemory from a public feed
  .github/workflows/copilot-build-backend.yml
  .github/workflows/copilot-deploy-pipeline.yml
  .github/workflows/memorypipeline-build.yml
  memorypipeline/CopilotChatMemoryPipeline.csproj
  webapi/CopilotChatWebApi.csproj
  webapi/nuget.config
Labels: PR: ready for review

#144 Encapsulate signalR hub connection instance
  webapp/src/redux/app/store.ts
  webapp/src/redux/features/message-relay/signalRHubConnection.ts
  webapp/src/redux/features/message-relay/signalRMiddleware.ts
Labels: bug, webapp, PR: ready for review, PR: ready to merge

#201 Set fetch depth to 0 for GitVersion to work
  .github/workflows/copilot-build-memorypipeline.yml
Labels: bug

#202 Fix typo
  scripts/deploy/package-memorypipeline.ps1
Labels: bug

#203 Fix deploy pipeline needs and import ordering
  .github/workflows/copilot-deploy-pipeline.yml
  memorypipeline/BuilderExtensions.cs
  memorypipeline/Program.cs
Labels: bug, PR: ready for review, github actions

#204 Add addition params of web api to main bicep
  scripts/deploy/main.bicep
  scripts/deploy/main.json
Labels: bug

#205 Adding the branch name to the concurrency group to separate deploymen…
  .github/workflows/copilot-deploy-pipeline.yml
Labels: PR: ready for review, github actions

#182 Re-ordered plug-in result to be included _after_ chat-history
  webapi/Skills/ChatSkills/ChatSkill.cs
Labels: webapi, PR: ready for review

#207 Fix problem when sqlAdminPassword is not provided
  scripts/deploy/deploy-azure.ps1
Labels: deployment, PR: ready for review

#143 🎉 Add Azure Content Moderator service for image analysis
  webapi/Controllers/DocumentImportController.cs
  webapi/CopilotChatWebApi.csproj
  webapi/Extensions/SemanticKernelExtensions.cs
  webapi/Extensions/ServiceExtensions.cs
  webapi/Models/Request/DocumentImportForm.cs
  webapi/Models/Response/ImageAnalysisResponse.cs
  webapi/Options/ContentSafetyOptions.cs
  webapi/Services/AzureContentSafety.cs
  webapi/Services/IContentSafetyService.cs
  webapi/Skills/ChatSkills/ChatSkill.cs
  webapi/appsettings.json
  webapp/src/App.tsx
  webapp/src/components/chat/ChatInput.tsx
  webapp/src/components/chat/tabs/DocumentsTab.tsx
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/hooks/useFile.ts
  webapp/src/libs/services/DocumentImportService.ts
Labels: webapp, webapi, PR: ready for review

#219 added more generic exception message and summary
  webapi/Extensions/SemanticKernelExtensions.cs
  webapi/Options/MemoryStoreOptions.cs
Labels: bug, webapi, PR: ready for review

#222 Fix Null Reference on Content-Saftey service
  webapi/Controllers/DocumentImportController.cs
Labels: bug, webapi, PR: ready for review, external issue

#234 Tweak ContentSafetyOptions.Enabled attribution and stream-line ServiceExtensiosn
  webapi/Extensions/ServiceExtensions.cs
  webapi/Options/ContentSafetyOptions.cs
Labels: bug, webapi, PR: ready for review

#216 Add a dotnet format check workflow
  .github/workflows/copilot-build-backend.yml
  .github/workflows/dotnet-format.yml
Labels: enhancement, PR: ready for review, github actions

#235 Add missing step to README instructions for enabling auth
  README.md
  scripts/deploy/README.md
Labels: documentation, deployment, PR: ready for review

#193 Delete Chat
  webapi/Controllers/ChatHistoryController.cs
  webapi/Extensions/ServiceExtensions.cs
  webapp/src/Constants.ts
  webapp/src/assets/strings.ts
  webapp/src/components/chat/ChatInput.tsx
  webapp/src/components/chat/ChatWindow.tsx
  webapp/src/components/chat/chat-list/ChatListItem.tsx
  webapp/src/components/chat/chat-list/ChatListSection.tsx
  webapp/src/components/chat/chat-list/ListItemActions.tsx
  webapp/src/components/chat/chat-list/dialogs/DeleteChatDialog.tsx
  webapp/src/components/chat/persona/MemoryBiasSlider.tsx
  webapp/src/components/chat/persona/PromptEditor.tsx
  webapp/src/components/chat/prompt-dialog/stepwise-planner/StepwiseThoughtProcessView.tsx
  webapp/src/components/chat/tabs/DocumentsTab.tsx
  webapp/src/components/chat/tabs/PersonaTab.tsx
  webapp/src/components/shared/Alerts.tsx
  webapp/src/components/views/ChatView.tsx
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/services/BaseService.ts
  webapp/src/libs/services/ChatService.ts
  webapp/src/redux/features/app/AppState.ts
  webapp/src/redux/features/conversations/ChatState.ts
  webapp/src/redux/features/conversations/conversationsSlice.ts
  webapp/src/redux/features/message-relay/signalRHubConnection.ts
Labels: enhancement, webapp, webapi, PR: ready for review

#239 Update import document tool to new auth model
  tools/importdocument/Config.cs
  tools/importdocument/Program.cs
  tools/importdocument/README.md
  tools/importdocument/appsettings.json
Labels: documentation, PR: ready for review

#184 Add dockerfile and docker-compose support
  .dockerignore
  .github/workflows/copilot-build-images.yml
  .gitignore
  docker/docker-compose.yaml
  docker/webapi/Dockerfile
  docker/webapp/Dockerfile
  docker/webapp/Dockerfile.nginx
Labels: PR: ready for review, github actions

#248 Fix incorrect tab mentioned for frontend app registration
  README.md
Labels: documentation, PR: ready for review

#247 Add citation
  webapi/Controllers/BotController.cs
  webapi/Controllers/ChatHistoryController.cs
  webapi/Models/Storage/ChatMessage.cs
  webapi/Models/Storage/CitationSource.cs
  webapi/Skills/ChatSkills/ChatSkill.cs
  webapi/Skills/ChatSkills/SemanticMemoryRetriever.cs
  webapp/src/components/chat/chat-history/ChatHistoryTextContent.tsx
  webapp/src/libs/models/ChatMessage.ts
Labels: enhancement, webapp, webapi, PR: ready for review

#262 Building main.json from main.bicep to get latest changes.
  scripts/deploy/main.json
Labels: deployment, PR: ready for review

#240 Update partitionKey path definitions for cosmosDatabase containers.
  scripts/deploy/main.bicep
  webapi/Controllers/ChatHistoryController.cs
  webapi/Controllers/ChatMemoryController.cs
  webapi/Controllers/ChatParticipantController.cs
  webapi/Models/Storage/ChatMessage.cs
  webapi/Models/Storage/ChatParticipant.cs
  webapi/Models/Storage/ChatSession.cs
  webapi/Models/Storage/MemorySource.cs
  webapi/Skills/ChatSkills/ChatSkill.cs
  webapi/Skills/ChatSkills/SemanticChatMemorySkill.cs
  webapi/Storage/CosmosDbContext.cs
  webapi/Storage/FileSystemContext.cs
  webapi/Storage/IRepository.cs
  webapi/Storage/IStorageContext.cs
  webapi/Storage/IStorageEntity.cs
  webapi/Storage/Repository.cs
  webapi/Storage/VolatileContext.cs
Labels: webapi, deployment, PR: ready for review, external issue, performance

#265 Fix scenario tests
  .github/workflows/copilot-test-e2e.yml
  webapp/src/App.tsx
  webapp/src/components/chat/chat-list/ListItemActions.tsx
  webapp/src/components/chat/invitation-dialog/InvitationCreateDialog.tsx
  webapp/src/components/header/UserSettingsMenu.tsx
  webapp/src/components/header/settings-dialog/SettingSection.tsx
  webapp/src/components/header/settings-dialog/SettingsDialog.tsx
  webapp/src/components/views/Login.tsx
  webapp/tests/chat.test.ts
  webapp/tests/testsBasic.ts
  webapp/tests/testsMultiuser.ts
  webapp/tests/utils.ts
Labels: enhancement, webapp, PR: ready for review, github actions

#268 Add integration test project
  CopilotChat.sln
  integration-tests/ChatCopilotIntegrationTest.cs
  integration-tests/ChatCopilotIntegrationTests.csproj
  integration-tests/HealthzTests.cs
  integration-tests/README.md
  integration-tests/testsettings.json
Labels: documentation, PR: ready for review

#263 render chat messages as markdown
  webapp/package.json
  webapp/src/components/chat/chat-history/ChatHistoryTextContent.tsx
  webapp/src/components/utils/TextUtils.tsx
  webapp/yarn.lock
Labels: dependencies, webapp, PR: ready for review

#269 Update Dockerfile.nginx
  docker/webapp/Dockerfile.nginx
Labels: PR: ready for review

#282 *nix codestyle
  .editorconfig
  .github/workflows/copilot-build-frontend.yml
  .vscode/settings.json
  README.md
  scripts/configure.sh
  scripts/deploy/deploy-azure.sh
  scripts/deploy/deploy-webapi.sh
  scripts/deploy/deploy-webapp.sh
  scripts/deploy/package-webapi.sh
  scripts/install-apt.sh
  scripts/install-brew.sh
  scripts/start-backend.sh
  scripts/start-frontend.sh
  scripts/start.sh
Labels: documentation, deployment, PR: ready for review, github actions

#278 Updating broken links and links to wrong repository.
  .github/pull_request_template.md
  .github/workflows/markdown-link-check-config.json
  CONTRIBUTING.md
  scripts/deploy/README.md
Labels: documentation, deployment, PR: ready for review, github actions

#283 Mitigate security warning from regex with env var
  webapp/tests/chat.test.ts
  webapp/tests/testsBasic.ts
  webapp/tests/testsMultiuser.ts
  webapp/tests/testsPlanner.ts
  webapp/tests/utils.ts
Labels: webapp, PR: ready for review

#285 Integration tests workflow
  .github/workflows/copilot-build-backend.yml
  .github/workflows/copilot-deploy-backend.yml
  .github/workflows/copilot-deploy-environment.yml
  .github/workflows/copilot-deploy-pipeline.yml
  .github/workflows/copilot-run-integration-tests.yml
  integration-tests/ChatCopilotIntegrationTest.cs
  integration-tests/README.md
  integration-tests/testsettings.json
Labels: documentation, PR: ready for review, github actions
