Repository microsoft/chat-copilot, pull requests merged in 2023-10, with the labels that each got.

#442 Fix null dereference from empty intent/input
  webapp/src/components/chat/plan-viewer/PlanViewer.tsx
  webapp/src/components/chat/tabs/PlansTab.tsx
  webapp/src/libs/models/Plan.ts
Labels: webapp

#424 Plugin refactor
  .github/workflows/copilot-build-plugins.yml
  .github/workflows/copilot-deploy-environment.yml
  .github/workflows/copilot-deploy-pipeline.yml
  .github/workflows/copilot-deploy-plugins.yml
  CopilotChat.sln
  plugins/README.md
  plugins/shared/PluginApi.cs
  plugins/shared/PluginAuth.cs
  plugins/shared/PluginManifest.cs
  plugins/shared/PluginShared.csproj
  plugins/web-searcher/Icons/bing.png
  plugins/web-searcher/Models/BingSearchResponse.cs
  plugins/web-searcher/Models/PluginConfig.cs
  plugins/web-searcher/PluginEndpoint.cs
  plugins/web-searcher/Program.cs
  plugins/web-searcher/README.md
  plugins/web-searcher/WebSearcher.csproj
  plugins/web-searcher/host.json
  plugins/web-searcher/local.settings.json
  scripts/deploy/README.md
  scripts/deploy/deploy-azure.ps1
  scripts/deploy/deploy-azure.sh
  scripts/deploy/deploy-plugins.ps1
  scripts/deploy/deploy-plugins.sh
  scripts/deploy/deploy-webapp.ps1
  scripts/deploy/deploy-webapp.sh
  scripts/deploy/main.bicep
  scripts/deploy/main.json
  scripts/deploy/package-plugins.ps1
  scripts/deploy/package-plugins.sh
  webapi/Controllers/ChatController.cs
  webapi/Controllers/PluginController.cs
  webapi/Controllers/ServiceInfoController.cs
  webapi/Extensions/ServiceExtensions.cs
  webapi/Models/Response/ServiceOptionsResponse.cs
  webapi/Models/Storage/ChatSession.cs
  webapi/Options/PluginOptions.cs
  webapi/Program.cs
  webapi/README.md
  webapi/Skills/OpenApiPlugins/README.md
  webapi/Utilities/PluginUtils.cs
  webapi/appsettings.json
  webapp/src/assets/plugin-icons/klarna.png
  webapp/src/components/open-api-plugins/PluginConnector.tsx
  webapp/src/components/open-api-plugins/PluginGallery.tsx
  webapp/src/components/open-api-plugins/cards/PluginCard.tsx
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/hooks/usePlugins.ts
  webapp/src/libs/models/ChatSession.ts
  webapp/src/libs/models/ServiceOptions.ts
  webapp/src/libs/services/BaseService.ts
  webapp/src/libs/services/ChatService.ts
  webapp/src/libs/services/PluginService.ts
  webapp/src/redux/features/app/AppState.ts
  webapp/src/redux/features/conversations/ChatState.ts
  webapp/src/redux/features/conversations/ConversationsState.ts
  webapp/src/redux/features/conversations/conversationsSlice.ts
  webapp/src/redux/features/message-relay/signalRHubConnection.ts
  webapp/src/redux/features/plugins/PluginsState.ts
Labels: documentation, enhancement, webapp, webapi, deployment, github actions

#445 Update plugin deploy workflow name
  .github/workflows/copilot-deploy-plugins.yml
Labels: bug, github actions

#447 Fix Copy and Paste error in plugins deployment scripts
  .github/workflows/copilot-deploy-plugins.yml
  scripts/deploy/deploy-plugins.ps1
  scripts/deploy/deploy-plugins.sh
Labels: bug, deployment, github actions

#417 BREAKING CHANGE: Update WebApi routes for security and RESTful best practices
  webapi/Controllers/ChatArchiveController.cs
  webapi/Controllers/ChatController.cs
  webapi/Controllers/ChatHistoryController.cs
  webapi/Controllers/ChatMemoryController.cs
  webapi/Controllers/ChatParticipantController.cs
  webapi/Controllers/DocumentController.cs
  webapi/Controllers/MaintenanceController.cs
  webapi/Controllers/ServiceInfoController.cs
  webapi/Extensions/IAsyncEnumerableExtensions.cs
  webapi/Extensions/SemanticKernelExtensions.cs
  webapi/Extensions/ServiceExtensions.cs
  webapi/Models/Request/EditChatParameters.cs
  webapi/Models/Request/ExecutePlanParameters.cs
  webapi/Models/Response/ChatArchive.cs
  webapi/Models/Response/ChatArchiveEmbeddingConfig.cs
  webapi/Models/Response/CreateChatResponse.cs
  webapi/Models/Response/ImageAnalysisResponse.cs
  webapi/Models/Response/ServiceInfoResponse.cs
  webapi/Options/ChatArchiveSchemaInfo.cs
  webapi/Services/AzureContentSafety.cs
  webapi/Services/IContentSafetyService.cs
  webapi/Services/MaintenanceMiddleware.cs
  webapi/Skills/ChatSkills/SemanticMemoryRetriever.cs
  webapi/appsettings.json
  webapp/src/App.tsx
  webapp/src/components/chat/chat-list/ChatList.tsx
  webapp/src/components/chat/tabs/DocumentsTab.tsx
  webapp/src/components/header/settings-dialog/SettingsDialog.tsx
  webapp/src/components/open-api-plugins/PluginGallery.tsx
  webapp/src/components/views/BackendProbe.tsx
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/models/ChatArchive.ts
  webapp/src/libs/models/ServiceInfo.ts
  webapp/src/libs/services/ChatArchiveService.ts
  webapp/src/libs/services/ChatService.ts
  webapp/src/libs/services/DocumentImportService.ts
  webapp/src/redux/features/app/AppState.ts
  webapp/src/redux/features/app/appSlice.ts
Labels: webapp, webapi, PR: breaking change

#448 Make deploy-plugins.sh executable
  scripts/deploy/deploy-plugins.sh
Labels: bug, deployment

#443 Adding plan error as bot response message
  webapi/Skills/ChatSkills/ChatSkill.cs
  webapp/src/components/chat/plan-viewer/PlanDialogView.tsx
  webapp/src/libs/hooks/useChat.ts
Labels: webapp, webapi

#449 Fix artifact path in plugin deployment workflow
  .github/workflows/copilot-deploy-plugins.yml
Labels: bug, github actions

#450 Miscellaneous fixes
  tools/importdocument/Program.cs
  webapi/Extensions/ServiceExtensions.cs
  webapp/src/libs/services/ChatService.ts
Labels: webapp, webapi, PR: regression fix

#451 Update deployment template with the correct param name
  scripts/deploy/main.bicep
  scripts/deploy/main.json
Labels: bug, deployment

#455 Fix route for processing plans
  webapp/src/libs/services/ChatService.ts
Labels: webapp, PR: regression fix

#446 Add Support for deployment slots in deployment scripts
  scripts/deploy/deploy-webapi.ps1
  scripts/deploy/deploy-webapi.sh
  scripts/deploy/deploy-webapp.ps1
  scripts/deploy/deploy-webapp.sh
Labels: deployment

#457 Fix global document retrieval and citations
  webapi/Controllers/DocumentController.cs
  webapi/Extensions/ISemanticMemoryClientExtensions.cs
  webapi/Options/DocumentMemoryOptions.cs
  webapi/Skills/ChatSkills/ChatSkill.cs
  webapi/Skills/ChatSkills/SemanticMemoryRetriever.cs
Labels: bug, webapi

#427 Fetch AAD authentication info from backend
  .github/workflows/copilot-build-images.yml
  .github/workflows/copilot-test-e2e.yml
  docker/webapp/Dockerfile.nginx
  scripts/Configure.ps1
  scripts/configure.sh
  scripts/deploy/README.md
  scripts/deploy/deploy-webapp.ps1
  scripts/deploy/deploy-webapp.sh
  webapi/Controllers/MaintenanceController.cs
  webapp/.env.example
  webapp/src/App.tsx
  webapp/src/Constants.ts
  webapp/src/checkEnv.ts
  webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
  webapp/src/components/views/BackendProbe.tsx
  webapp/src/index.tsx
  webapp/src/libs/auth/AuthHelper.ts
  webapp/src/libs/auth/TokenHelper.ts
  webapp/src/libs/hooks/useChat.ts
  webapp/src/redux/features/app/AppState.ts
  webapp/src/redux/features/app/appSlice.ts
  webapp/tests/utils.ts
Labels: documentation, webapp, webapi, deployment, github actions

#460 Fix hanging when status is RequiresUpgrade
  webapi/Controllers/MaintenanceController.cs
  webapp/src/App.tsx
  webapp/src/components/views/BackendProbe.tsx
Labels: webapp, webapi, PR: regression fix

#377 Modify deployment scripts to serve static files from web service
  .github/workflows/copilot-build-backend.yml
  .github/workflows/copilot-deploy-backend.yml
  .github/workflows/copilot-deploy-environment.yml
  .github/workflows/copilot-deploy-frontend.yml
  .github/workflows/copilot-deploy-infra.yml
  scripts/deploy/README.md
  scripts/deploy/deploy-azure.ps1
  scripts/deploy/deploy-azure.sh
  scripts/deploy/deploy-memorypipeline.ps1
  scripts/deploy/deploy-memorypipeline.sh
  scripts/deploy/deploy-webapi.ps1
  scripts/deploy/deploy-webapi.sh
  scripts/deploy/deploy-webapp.ps1
  scripts/deploy/deploy-webapp.sh
  scripts/deploy/main.bicep
  scripts/deploy/main.json
  scripts/deploy/object.txt
  scripts/deploy/package-webapi.ps1
  scripts/deploy/package-webapi.sh
  webapp/template.swa-cli.config.json
Labels: documentation, webapp, deployment, github actions

#476 Volatile memory singleton for memory "migration"
  webapi/Controllers/MaintenanceController.cs
  webapi/Services/MemoryMigration/ChatMigrationMonitor.cs
  webapi/Services/SemanticKernelProvider.cs
  webapp/src/components/views/BackendProbe.tsx
Labels: bug, webapp, webapi, PR: regression fix, .NET, memory, regression

#493 Fix error loading user on refresh
  webapp/src/index.tsx
Labels: webapp, PR: regression fix

#513 Fix fatal issues with Azure deployment templates
  scripts/deploy/deploy-azure.ps1
  scripts/deploy/deploy-azure.sh
  scripts/deploy/main.bicep
  scripts/deploy/main.json
Labels: bug, deployment

#517 Make deploying the web searcher plugin optional
  .github/workflows/copilot-deploy-infra.yml
  scripts/deploy/README.md
  scripts/deploy/deploy-azure.ps1
  scripts/deploy/deploy-azure.sh
  scripts/deploy/main.bicep
  scripts/deploy/main.json
Labels: documentation, enhancement, deployment, github actions

#519 Fix deployment when using OpenAI (as opposed to AOAI)
  scripts/deploy/main.bicep
  scripts/deploy/main.json
Labels: deployment

#495 Remove /healthz call + use token when calling /maintenanceStatus
  webapp/src/components/views/BackendProbe.tsx
  webapp/src/libs/services/BaseService.ts
  webapp/src/libs/services/MaintenanceService.ts
Labels: webapp

#514 Refactor Stepwise Planner handler, added logic to allow use of stepwise plan result as bot response
  webapi/Models/Response/BotResponsePrompt.cs
  webapi/Models/Response/PlanExecutionMetadata.cs
  webapi/Models/Response/SemanticDependency.cs
  webapi/Options/PlannerOptions.cs
  webapi/Options/PromptsOptions.cs
  webapi/Skills/ChatSkills/ChatSkill.cs
  webapi/Skills/ChatSkills/ExternalInformationSkill.cs
  webapi/appsettings.json
  webapp/src/components/chat/prompt-dialog/PromptDialog.tsx
  webapp/src/components/chat/prompt-dialog/stepwise-planner/StepwiseThoughtProcessView.tsx
  webapp/src/libs/models/BotResponsePrompt.ts
  webapp/src/libs/models/PlanExecutionMetadata.ts
Labels: webapp, webapi

#508 Fix for cognitive services API version
  scripts/deploy/main.bicep
  scripts/deploy/main.json
Labels: deployment

#524 Make deploy-webapi do all it needs to by default
  .github/workflows/copilot-build-backend.yml
  .github/workflows/copilot-deploy-backend.yml
  .gitignore
  scripts/deploy/deploy-webapi.ps1
  scripts/deploy/deploy-webapi.sh
  scripts/deploy/package-webapi.ps1
  scripts/deploy/package-webapi.sh
  webapp/src/libs/services/BaseService.ts
Labels: webapp, deployment, github actions

#526 Add blobs settings in webapi docker .env.example
  docker/webapi/.env.example
Labels: bug, webapi, deployment

#542 Update SemanticChatMemoryItem.cs
  webapi/Skills/ChatSkills/SemanticChatMemoryItem.cs
Labels: webapi, PR: paused

#546 Update to "final" semantic-memory package
  .gitignore
  memorypipeline/CopilotChatMemoryPipeline.csproj
  memorypipeline/appsettings.json
  shared/CopilotChatShared.csproj
  webapi/CopilotChatWebApi.csproj
  webapi/Extensions/ISemanticMemoryClientExtensions.cs
  webapi/appsettings.json
Labels: webapi

#561 Fix condition to skip building frontend
  .github/workflows/copilot-build-backend.yml
  webapi/Extensions/SemanticKernelExtensions.cs
  webapi/Extensions/ServiceExtensions.cs
  webapi/Models/Response/ChatArchive.cs
  webapi/Program.cs
  webapi/README.md
Labels: documentation, webapi, github actions
