Repository microsoft/chat-copilot, pull requests merged in 2023-11, with the labels that each got.

#564 Fix race condition in bicep / ARM template
  scripts/deploy/main.bicep
  scripts/deploy/main.json
  scripts/deploy/object.txt
Labels: deployment

#570 Fix invalid memory store type: Disk
  webapi/Options/MemoryStoreType.cs
Labels: webapi

#580 TokenCount performance issues
  webapi/Skills/Utils/TokenUtils.cs
Labels: webapi

#578 Use IHttpClientFactory
  webapi/Controllers/ChatController.cs
  webapi/Controllers/PluginController.cs
  webapi/Controllers/SpeechTokenController.cs
  webapi/Extensions/SemanticKernelExtensions.cs
  webapi/Program.cs
  webapi/Services/SemanticKernelProvider.cs
Labels: webapi

#585 Fix Document/Memory Removal when Chat Deleted
  webapi/Extensions/ISemanticMemoryClientExtensions.cs
Labels: bug, webapi, memory

#586 Upgrade CC to use SK 1.0 Beta 5
  integration-tests/ChatCopilotIntegrationTests.csproj
  memorypipeline/CopilotChatMemoryPipeline.csproj
  memorypipeline/README.md
  memorypipeline/appsettings.json
  plugins/web-searcher/WebSearcher.csproj
  shared/CopilotChatShared.csproj
  shared/MemoryClientBuilderExtensions.cs
  shared/MemoryConfiguration.cs
  shared/Ocr/ConfigurationExtensions.cs
  tools/importdocument/ImportDocument.csproj
  webapi/Controllers/ChatMemoryController.cs
  webapi/Controllers/DocumentController.cs
  webapi/CopilotChatWebApi.csproj
  webapi/Extensions/ISemanticMemoryClientExtensions.cs
  webapi/Models/Storage/CitationSource.cs
  webapi/Models/Storage/MemoryTags.cs
  webapi/Options/PromptsOptions.cs
  webapi/README.md
  webapi/Services/MemoryMigration/IChatMemoryMigrationService.cs
  webapi/Services/SemanticKernelProvider.cs
  webapi/Skills/ChatSkills/ChatSkill.cs
  webapi/Skills/ChatSkills/ExternalInformationSkill.cs
  webapi/Skills/ChatSkills/SemanticChatMemoryExtractor.cs
  webapi/Skills/ChatSkills/SemanticMemoryRetriever.cs
  webapi/appsettings.json
  webapp/public/index.html
  webapp/src/components/chat/plan-viewer/PlanViewer.tsx
Labels: documentation, webapp, webapi

#587 Replace "Skills" term, as appropriate.
  webapi/Controllers/ChatController.cs
  webapi/Controllers/ChatHistoryController.cs
  webapi/CopilotChatWebApi.csproj
  webapi/Extensions/SemanticKernelExtensions.cs
  webapi/Models/Response/PlanExecutionMetadata.cs
  webapi/Options/PromptsOptions.cs
  webapi/Plugins/Chat/ChatPlugin.cs
  webapi/Plugins/Chat/CopilotChatPlanner.cs
  webapi/Plugins/Chat/ExternalInformationPlugin.cs
  webapi/Plugins/Chat/SemanticChatMemory.cs
  webapi/Plugins/Chat/SemanticChatMemoryExtractor.cs
  webapi/Plugins/Chat/SemanticChatMemoryItem.cs
  webapi/Plugins/Chat/SemanticMemoryRetriever.cs
  webapi/Plugins/OpenApi/GitHubPlugin/Model/Label.cs
  webapi/Plugins/OpenApi/GitHubPlugin/Model/PullRequest.cs
  webapi/Plugins/OpenApi/GitHubPlugin/Model/Repo.cs
  webapi/Plugins/OpenApi/GitHubPlugin/Model/User.cs
  webapi/Plugins/OpenApi/GitHubPlugin/openapi.json
  webapi/Plugins/OpenApi/JiraPlugin/Model/CommentAuthor.cs
  webapi/Plugins/OpenApi/JiraPlugin/Model/CommentResponse.cs
  webapi/Plugins/OpenApi/JiraPlugin/Model/IndividualComments.cs
  webapi/Plugins/OpenApi/JiraPlugin/Model/IssueResponse.cs
  webapi/Plugins/OpenApi/JiraPlugin/Model/IssueResponseFIeld.cs
  webapi/Plugins/OpenApi/JiraPlugin/openapi.json
  webapi/Plugins/OpenApi/README.md
  webapi/Plugins/Utils/AsyncUtils.cs
  webapi/Plugins/Utils/PromptUtils.cs
  webapi/Plugins/Utils/TokenUtils.cs
  webapi/README.md
  webapi/Services/AppInsightsTelemetryService.cs
  webapi/Services/ITelemetryService.cs
  webapi/appsettings.json
  webapp/src/components/chat/prompt-dialog/stepwise-planner/StepwiseThoughtProcessView.tsx
  webapp/src/components/open-api-plugins/PluginConnector.tsx
  webapp/src/libs/models/PlanExecutionMetadata.ts
  webapp/src/libs/services/ChatService.ts
  webapp/src/redux/features/plugins/PluginsState.ts
  webapp/tests/testsBasic.ts
Labels: documentation, enhancement, webapp, webapi, PR: breaking change, preview

#589 Introduce "Safe" SystemDescription
  webapi/Controllers/ChatArchiveController.cs
  webapi/Controllers/ChatHistoryController.cs
  webapi/Models/Storage/ChatSession.cs
  webapi/Plugins/Chat/ChatPlugin.cs
Labels: bug, webapi, .NET

#590 Revert updates to Microsoft.Azure.Functions.* packages for plugins
  plugins/web-searcher/WebSearcher.csproj
  plugins/web-searcher/local.settings.json
Labels: bug

#603 Fix template hash
  scripts/deploy/main.json
Labels: deployment

#604 Update README.md
  README.md
Labels: documentation

#606 Changed default build platform to win-x64 even in Linux scripts
  scripts/deploy/package-memorypipeline.sh
  scripts/deploy/package-webapi.sh
Labels: deployment

#609 Update CC to SK 1.0.0 Beta 6
  memorypipeline/CopilotChatMemoryPipeline.csproj
  shared/CopilotChatShared.csproj
  webapi/Controllers/ChatController.cs
  webapi/CopilotChatWebApi.csproj
  webapi/Services/SemanticKernelProvider.cs
Labels: webapi, .NET

#619 OpenAI 403 workaround to merge approved PRs
  .github/workflows/markdown-link-check-config.json
Labels: github actions

#616 Make deployment template more robust
  scripts/deploy/main.bicep
  scripts/deploy/main.json
Labels: deployment

#624 Use ImportOpenAIPluginFunctionsAsync to import OpenAI functions
  webapi/Controllers/ChatController.cs
Labels: webapi

#626 Update to SK 1 beta 7
  README.md
  integration-tests/ChatCopilotIntegrationTests.csproj
  memorypipeline/CopilotChatMemoryPipeline.csproj
  plugins/README.md
  plugins/shared/PluginManifest.cs
  shared/CopilotChatShared.csproj
  tools/importdocument/ImportDocument.csproj
  webapi/CopilotChatWebApi.csproj
  webapi/Models/Storage/ChatMessage.cs
  webapi/Utilities/PluginUtils.cs
  webapp/src/components/open-api-plugins/plugin-wizard/steps/EnterManifestStep.tsx
Labels: documentation, webapp, webapi

#638 Update to SK 1.0 beta 8
  README.md
  integration-tests/ChatCopilotIntegrationTests.csproj
  memorypipeline/CopilotChatMemoryPipeline.csproj
  plugins/README.md
  plugins/shared/PluginManifest.cs
  shared/CopilotChatShared.csproj
  webapi/Controllers/ChatArchiveController.cs
  webapi/Controllers/ChatHistoryController.cs
  webapi/Controllers/DocumentController.cs
  webapi/CopilotChatWebApi.csproj
  webapi/Extensions/ISemanticMemoryClientExtensions.cs
  webapi/Extensions/ServiceExtensions.cs
  webapi/Models/Response/ChatArchive.cs
  webapi/Models/Response/CreateChatResponse.cs
  webapi/Models/Storage/CopilotChatMessage.cs
  webapi/Plugins/Chat/ChatPlugin.cs
  webapi/Plugins/Utils/PromptUtils.cs
  webapi/Plugins/Utils/TokenUtils.cs
  webapi/Storage/ChatMessageRepository.cs
  webapi/Utilities/PluginUtils.cs
  webapp/src/components/open-api-plugins/plugin-wizard/steps/EnterManifestStep.tsx
Labels: documentation, webapp, webapi

#639 Change instances of "Copilot Chat" to "Chat Copilot"
  memorypipeline/README.md
  tools/importdocument/Program.cs
  tools/importdocument/README.md
  webapi/Extensions/ServiceExtensions.cs
  webapi/Options/ServiceOptions.cs
  webapi/Plugins/Chat/ExternalInformationPlugin.cs
  webapi/Program.cs
  webapi/Services/AzureContentSafety.cs
Labels: documentation, webapi

#647 Restore workflow file as existed prior to PR #635
  .github/workflows/copilot-build-frontend.yml
Labels: github actions

#642 Fixing conversation filtering
  webapp/src/components/chat/chat-list/ChatList.tsx
Labels: webapp

#654 Fix yarn.lock file and run deduplicate on it to unify versions
  webapp/yarn.lock
Labels: dependencies, webapp

#668 Enable running tests on different AAD tenant
  .github/workflows/copilot-deploy-infra.yml
  .github/workflows/copilot-run-integration-tests.yml
Labels: github actions

#655 Add an icon for the site
  webapi/wwwroot/favicon.ico
Labels: webapi

#588 Unblock Global Document Import
  webapi/Controllers/DocumentController.cs
  webapp/src/components/chat/ChatInput.tsx
  webapp/src/components/chat/tabs/DocumentsTab.tsx
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/hooks/useFile.ts
  webapp/src/libs/services/DocumentImportService.ts
Labels: webapp, webapi

#651 Add integration tests
  .github/workflows/copilot-run-integration-tests.yml
  integration-tests/ChatCopilotIntegrationTest.cs
  integration-tests/ServiceInfoTests.cs
  integration-tests/SpeechTokenTests.cs
  integration-tests/testsettings.json
Labels: github actions

#676 Do not trigger e2e test when a PR is approved
  .github/workflows/copilot-test-e2e.yml
Labels: github actions

#678 Copy static files in proper folder
  integration-tests/StaticFiles.cs
  scripts/deploy/package-webapi.ps1
  scripts/deploy/package-webapi.sh
Labels: deployment

#677 Fix chatstyling
  webapp/src/components/chat/ChatInput.tsx
  webapp/src/components/chat/ChatRoom.tsx
  webapp/src/components/chat/chat-history/ChatHistory.tsx
  webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
Labels: enhancement, webapp, PR: ready to merge

#679 Fix deployment pipeline
  .github/workflows/copilot-deploy-pipeline.yml
Labels: github actions

#680 Fix passing of secrets for integration tests
  .github/workflows/copilot-run-integration-tests.yml
Labels: github actions

#675 Fix unix package scripts
  scripts/deploy/package-memorypipeline.sh
  scripts/deploy/package-plugins.sh
  scripts/deploy/package-webapi.sh
Labels: deployment
