Repository microsoft/chat-copilot, pull requests merged in 2023-07, with the labels that each got.

#14 Show live updates from ChatSkill
  webapi/CopilotChat/Controllers/ChatController.cs
  webapi/CopilotChat/Extensions/SemanticKernelExtensions.cs
  webapi/CopilotChat/Skills/ChatSkills/ChatSkill.cs
  webapp/src/components/chat/ChatInput.tsx
  webapp/src/components/chat/ChatStatus.tsx
  webapp/src/components/chat/typing-indicator/TypingIndicatorRenderer.tsx
  webapp/src/libs/useChat.ts
  webapp/src/redux/features/conversations/ChatState.ts
  webapp/src/redux/features/conversations/conversationsSlice.ts
  webapp/src/redux/features/message-relay/signalRMiddleware.ts
Labels: enhancement

#24 Setting up CI/CD pipeline to cancel when a new push happens.
  .github/workflows/copilot-deploy-pipeline.yml
Labels: PR: ready to merge

#16 Make templates support Azure Cognitive Search
  README.md
  deploy/deploy-azure.ps1
  deploy/deploy-azure.sh
  deploy/deploy-webapp.ps1
  deploy/deploy-webapp.sh
  deploy/main.bicep
  deploy/main.json
Labels: deployment, PR: ready to merge

#27 Add .prettierrc.js, .vscode/settings.json, and .vscode/extensions.json
  .vscode/extensions.json
  .vscode/settings.json
  webapp/.eslintrc.cjs
  webapp/.prettierrc.cjs
  webapp/package.json
Labels: PR: ready for review

#28 Update labeler.yml
  .github/labeler.yml
  .github/pull_request_template.md
Labels: PR: ready for review, github actions

#31 📝 RLFH UX Skeleton
  webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
  webapp/src/components/chat/chat-history/UserFeedbackActions.tsx
  webapp/src/components/shared/BundledIcons.tsx
  webapp/src/libs/models/ChatMessage.ts
  webapp/src/redux/features/app/appSlice.ts
  webapp/src/redux/features/conversations/conversationsSlice.ts
  webapp/src/styles.tsx
Labels: enhancement, webapp, PR: ready to merge

#18 Add support for chat streaming
  webapi/CopilotChat/Controllers/ChatController.cs
  webapi/CopilotChat/Controllers/DocumentImportController.cs
  webapi/CopilotChat/Hubs/MessageRelayHub.cs
  webapi/CopilotChat/Skills/ChatSkills/ChatSkill.cs
  webapp/src/components/chat/ChatInput.tsx
  webapp/src/components/chat/ChatRoom.tsx
  webapp/src/components/chat/chat-history/UserFeedbackActions.tsx
  webapp/src/components/chat/plan-viewer/PlanViewer.tsx
  webapp/src/libs/models/ChatMessage.ts
  webapp/src/libs/services/ChatService.ts
  webapp/src/redux/features/conversations/conversationsSlice.ts
  webapp/src/redux/features/message-relay/signalRMiddleware.ts
Labels: enhancement, webapp, webapi, PR: ready to merge

#29 Adding support for custom plugin import
  .gitignore
  webapi/CopilotChat/Controllers/ChatController.cs
  webapi/CopilotChat/Models/CustomPlugin.cs
  webapi/CopilotChat/Models/OpenApiSkillsAuthHeaders.cs
  webapp/src/App.tsx
  webapp/src/Constants.ts
  webapp/src/assets/plugin-icons/add-plugin.png
  webapp/src/components/chat/ChatInput.tsx
  webapp/src/components/chat/ChatResourceList.tsx
  webapp/src/components/chat/ChatRoom.tsx
  webapp/src/components/chat/chat-history/ChatHistory.tsx
  webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
  webapp/src/components/chat/chat-list/ChatList.tsx
  webapp/src/components/chat/chat-list/NewBotMenu.tsx
  webapp/src/components/chat/controls/ParticipantsList.tsx
  webapp/src/components/chat/controls/ShareBotMenu.tsx
  webapp/src/components/chat/invitation-dialog/InvitationJoinDialog.tsx
  webapp/src/components/chat/plan-viewer/PlanViewer.tsx
  webapp/src/components/open-api-plugins/PluginCard.tsx
  webapp/src/components/open-api-plugins/PluginConnector.tsx
  webapp/src/components/open-api-plugins/PluginGallery.tsx
  webapp/src/components/open-api-plugins/cards/AddPluginCard.tsx
  webapp/src/components/open-api-plugins/cards/BaseCard.tsx
  webapp/src/components/open-api-plugins/cards/PluginCard.tsx
  webapp/src/components/open-api-plugins/plugin-wizard/PluginWizard.tsx
  webapp/src/components/open-api-plugins/plugin-wizard/steps/EnterManifestStep.tsx
  webapp/src/components/open-api-plugins/plugin-wizard/steps/ValidateManifestStep.tsx
  webapp/src/components/shared/BundledIcons.tsx
  webapp/src/components/utils/FileUtils.ts
  webapp/src/components/utils/PluginUtils.ts
  webapp/src/libs/hooks/index.ts
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/hooks/useFile.ts
  webapp/src/libs/hooks/useGraph.ts
  webapp/src/libs/hooks/usePlugins.ts
  webapp/src/libs/models/PluginManifest.ts
  webapp/src/libs/semantic-kernel/model/CustomPlugin.ts
  webapp/src/libs/services/ChatService.ts
  webapp/src/redux/features/plugins/PluginsState.ts
  webapp/src/redux/features/plugins/pluginsSlice.ts
  webapp/src/styles.tsx
Labels: enhancement, webapp, webapi, PR: ready to merge

#34 Add documents tab
  webapi/CopilotChat/Controllers/DocumentImportController.cs
  webapi/CopilotChat/Models/MemorySource.cs
  webapp/src/components/chat/ChatInput.tsx
  webapp/src/components/chat/ChatResourceList.tsx
  webapp/src/components/chat/ChatWindow.tsx
  webapp/src/components/shared/Alerts.tsx
  webapp/src/libs/models/ChatMemorySource.ts
  webapp/src/redux/features/conversations/ChatState.ts
  webapp/src/redux/features/conversations/conversationsSlice.ts
Labels: webapp, webapi, PR: ready for review

#26 Added Form Recognizer as another OCR Support type for Copilot Chat #2085
  webapi/CopilotChat/Controllers/DocumentImportController.cs
  webapi/CopilotChat/Extensions/ServiceExtensions.cs
  webapi/CopilotChat/Options/AzureFormRecognizerOptions.cs
  webapi/CopilotChat/Options/OcrSupportOptions.cs
  webapi/CopilotChatWebApi.csproj
  webapi/README.md
  webapi/Services/AzureFormRecognizerOcrEngine.cs
  webapi/Services/IOcrEngine.cs
  webapi/Services/ITesseractEngine.cs
  webapi/Services/NullOcrEngine.cs
  webapi/Services/NullTesseractEngine.cs
  webapi/Services/TesseractEngineWrapper.cs
  webapi/appsettings.json
Labels: PR: ready to merge

#36 Remove create-react-app dependency from ESLint to use up-to-date configs
  .vscode/settings.json
  webapp/.eslintrc.cjs
  webapp/package.json
  webapp/src/components/chat/ChatInput.tsx
  webapp/src/components/chat/ChatResourceList.tsx
  webapp/src/components/chat/chat-history/UserFeedbackActions.tsx
  webapp/src/components/chat/controls/ShareBotMenu.tsx
  webapp/src/libs/models/ChatMessage.ts
  webapp/src/libs/services/BaseService.ts
  webapp/yarn.lock
Labels: webapp, PR: in progress, PR: ready to merge

#55 Fix security vulnerabilities detected by Dependabot
  webapp/package-lock.json
  webapp/package.json
  webapp/yarn.lock
Labels: webapp, PR: ready for review

#52 Add Labeler workflow
  .github/workflows/label-pr.yml
Labels: PR: ready for review, github actions

#58 Remove unused packages/commands from pacakge.json
  webapp/package-lock.json
  webapp/package.json
  webapp/yarn.lock
Labels: dependencies, webapp, PR: ready for review

#40 Simplified ux and settings dialog to control feature flags
  webapi/CopilotChat/Controllers/BotController.cs
  webapi/CopilotChat/Controllers/ChatController.cs
  webapi/CopilotChat/Controllers/ChatHistoryController.cs
  webapi/CopilotChat/Controllers/DocumentImportController.cs
  webapi/CopilotChat/Extensions/SemanticKernelExtensions.cs
  webapi/CopilotChat/Hubs/MessageRelayHub.cs
  webapi/CopilotChat/Models/Bot.cs
  webapi/CopilotChat/Skills/ChatSkills/ChatSkill.cs
  webapi/CopilotChat/Skills/ChatSkills/ExternalInformationSkill.cs
  webapi/Options/QdrantOptions.cs
  webapp/src/App.tsx
  webapp/src/components/chat/ChatWindow.tsx
  webapp/src/components/chat/chat-history/ChatHistory.tsx
  webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
  webapp/src/components/chat/chat-list/ChatList.tsx
  webapp/src/components/chat/chat-list/ChatListItem.tsx
  webapp/src/components/chat/chat-list/ChatListSection.tsx
  webapp/src/components/chat/chat-list/ListItemActions.tsx
  webapp/src/components/chat/chat-list/bot-menu/NewBotMenu.tsx
  webapp/src/components/chat/chat-list/bot-menu/SimplifiedNewBotMenu.tsx
  webapp/src/components/chat/chat-list/dialogs/DeleteChatDialog.tsx
  webapp/src/components/chat/controls/ShareBotMenu.tsx
  webapp/src/components/chat/shared/EditChatName.tsx
  webapp/src/components/chat/tabs/DocumentsTab.tsx
  webapp/src/components/chat/tabs/PersonaTab.tsx
  webapp/src/components/chat/tabs/PlansTab.tsx
  webapp/src/components/chat/tabs/TabView.tsx
  webapp/src/components/header/UserSettings.tsx
  webapp/src/components/header/UserSettingsMenu.tsx
  webapp/src/components/header/settings-dialog/SettingSection.tsx
  webapp/src/components/header/settings-dialog/SettingsDialog.tsx
  webapp/src/components/open-api-plugins/PluginConnector.tsx
  webapp/src/components/utils/TextUtils.ts
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/models/Bot.ts
  webapp/src/libs/models/ChatMessage.ts
  webapp/src/libs/models/ChatUser.ts
  webapp/src/libs/services/BotService.ts
  webapp/src/redux/features/app/AppState.ts
  webapp/src/redux/features/app/appSlice.ts
  webapp/tests/chat.test.ts
  webapp/tests/utils.ts
  webapp/yarn.lock
Labels: enhancement, webapp, webapi, PR: ready to merge

#35 Add persona tab
  webapi/CopilotChat/Controllers/BotController.cs
  webapi/CopilotChat/Controllers/ChatHistoryController.cs
  webapi/CopilotChat/Controllers/ChatMemoryController.cs
  webapi/CopilotChat/Controllers/DocumentImportController.cs
  webapi/CopilotChat/Models/Bot.cs
  webapi/CopilotChat/Models/ChatSession.cs
  webapi/CopilotChat/Options/PromptsOptions.cs
  webapi/CopilotChat/Skills/ChatSkills/ChatSkill.cs
  webapi/CopilotChat/Skills/ChatSkills/SemanticChatMemoryExtractor.cs
  webapi/CopilotChat/Skills/ChatSkills/SemanticChatMemorySkill.cs
  webapi/appsettings.json
  webapp/src/components/chat/ChatResourceList.tsx
  webapp/src/components/chat/ChatWindow.tsx
  webapp/src/components/chat/chat-history/ChatHistoryDocumentContent.tsx
  webapp/src/components/chat/persona/MemoryBiasSlider.tsx
  webapp/src/components/chat/persona/PromptEditor.tsx
  webapp/src/components/chat/shared/EditChatName.tsx
  webapp/src/components/chat/tabs/DocumentsTab.tsx
  webapp/src/components/chat/tabs/PersonaTab.tsx
  webapp/src/components/shared/BundledIcons.tsx
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/models/ChatSession.ts
  webapp/src/libs/services/ChatService.ts
  webapp/src/redux/features/conversations/ChatState.ts
  webapp/src/redux/features/conversations/ConversationsState.ts
  webapp/src/redux/features/conversations/conversationsSlice.ts
Labels: webapp, webapi, PR: ready for review

#64 Fix Persona tab state not updated bug
  webapp/src/components/chat/persona/PromptEditor.tsx
  webapp/src/components/chat/tabs/PersonaTab.tsx
Labels: webapp, PR: ready for review, PR: ready to merge

#59 Add plans tab
  webapi/CopilotChat/Skills/ChatSkills/ExternalInformationSkill.cs
  webapp/src/components/chat/plan-viewer/PlanJsonViewer.tsx
  webapp/src/components/chat/plan-viewer/PlanViewer.tsx
  webapp/src/components/chat/tabs/PlansTab.tsx
Labels: webapp, webapi, PR: ready to merge

#39 Token Usage
  webapi/CopilotChat/Controllers/ChatHistoryController.cs
  webapi/CopilotChat/Controllers/ChatMemoryController.cs
  webapi/CopilotChat/Controllers/DocumentImportController.cs
  webapi/CopilotChat/Models/ChatMessage.cs
  webapi/CopilotChat/Models/CreateChatResponse.cs
  webapi/CopilotChat/Skills/ChatSkills/ChatSkill.cs
  webapi/CopilotChat/Skills/ChatSkills/DocumentMemorySkill.cs
  webapi/CopilotChat/Skills/ChatSkills/ExternalInformationSkill.cs
  webapi/CopilotChat/Skills/ChatSkills/SemanticChatMemoryExtractor.cs
  webapi/CopilotChat/Skills/ChatSkills/SemanticChatMemorySkill.cs
  webapi/CopilotChat/Skills/TokenUtilities.cs
  webapi/CopilotChat/Skills/Utilities.cs
  webapi/Services/IOcrEngine.cs
  webapp/src/Constants.ts
  webapp/src/components/chat/ChatInput.tsx
  webapp/src/components/chat/ChatRoom.tsx
  webapp/src/components/chat/ChatStatus.tsx
  webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
  webapp/src/components/chat/chat-history/ChatHistoryTextContent.tsx
  webapp/src/components/chat/prompt-details/PromptDetails.tsx
  webapp/src/components/chat/prompt-dialog/PromptDialog.tsx
  webapp/src/components/chat/typing-indicator/TypingIndicatorRenderer.tsx
  webapp/src/components/header/settings-dialog/SettingsDialog.tsx
  webapp/src/components/shared/Alerts.tsx
  webapp/src/components/token-usage/TokenUsageBar.tsx
  webapp/src/components/token-usage/TokenUsageGraph.tsx
  webapp/src/components/token-usage/TokenUsageLegendItem.tsx
  webapp/src/components/token-usage/TokenUsageLegendLabel.tsx
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/models/ChatMessage.ts
  webapp/src/libs/models/ChatSession.ts
  webapp/src/libs/models/TokenUsage.ts
  webapp/src/libs/semantic-kernel/model/AskResult.ts
  webapp/src/libs/services/ChatService.ts
  webapp/src/redux/features/app/AppState.ts
  webapp/src/redux/features/app/appSlice.ts
  webapp/src/redux/features/message-relay/signalRMiddleware.ts
  webapp/src/styles.tsx
Labels: webapp, webapi, PR: ready to merge

#72 Token usage tuning
  webapi/CopilotChat/Skills/ChatSkills/ChatSkill.cs
  webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
  webapp/src/components/chat/chat-history/ChatHistoryTextContent.tsx
  webapp/src/components/open-api-plugins/cards/BaseCard.tsx
  webapp/src/components/token-usage/TokenUsageGraph.tsx
  webapp/src/components/token-usage/TokenUsageLegendItem.tsx
Labels: bug, webapp, webapi, PR: ready to merge

#65 Update CC to SK 0.18
  webapi/CopilotChat/Controllers/BotController.cs
  webapi/CopilotChat/Extensions/SemanticKernelExtensions.cs
  webapi/CopilotChat/Skills/ChatSkills/ChatSkill.cs
  webapi/CopilotChat/Skills/ChatSkills/ExternalInformationSkill.cs
  webapi/CopilotChat/Skills/ChatSkills/SemanticChatMemoryExtractor.cs
  webapi/CopilotChat/Skills/Utilities.cs
  webapi/CopilotChat/Storage/OptionalIMemoryStore.cs
  webapi/CopilotChatWebApi.csproj
  webapi/Options/AzureCognitiveSearchOptions.cs
  webapi/README.md
  webapi/SemanticKernelExtensions.cs
  webapi/appsettings.json
Labels: documentation, webapi, PR: ready to merge

#61 Change ChatSkill to update context with bot response
  webapi/CopilotChat/Skills/ChatSkills/ChatSkill.cs
Labels: webapi, PR: ready to merge

#74 Add auto focus to ChatInput
  webapp/src/components/chat/ChatInput.tsx
Labels: enhancement, webapp, PR: ready to merge

#75 Add "PR: ready for review" to all PRs when they are first created
  .github/labeler.yml
  .github/workflows/label-pr.yml
Labels: PR: ready to merge, github actions

#77 Resolve CodeQL alerts by sanitizing route input
  webapi/CopilotChat/Controllers/ChatMemoryController.cs
Labels: webapi, PR: ready to merge
