Repository microsoft/chat-copilot, pull requests merged in 2023-09, with the labels that each got.

#286 doc: :pencil2: Update README.md clarifying install script.
  README.md
Labels: documentation, PR: ready for review

#288 Delete-chat fix to also remove document index
  webapi/Controllers/ChatHistoryController.cs
Labels: bug, webapi, PR: ready for review, sk team issue

#291 Clarify requirements before deploying to Azure
  README.md
Labels: documentation, PR: ready for review

#304 Adding Timeout Limit option for /chat requests
  webapi/Controllers/ChatController.cs
  webapi/Options/ServiceOptions.cs
  webapi/Skills/ChatSkills/ChatSkill.cs
  webapi/Skills/ChatSkills/CopilotChatPlanner.cs
  webapi/Skills/ChatSkills/DocumentMemorySkill.cs
  webapi/Skills/ChatSkills/ExternalInformationSkill.cs
  webapi/Skills/ChatSkills/SemanticChatMemorySkill.cs
  webapi/appsettings.json
  webapp/src/libs/services/BaseService.ts
Labels: bug, enhancement, webapp, webapi, PR: ready for review

#305 Update SK from 0.19.230804.2-preview to 0.21.230828.2-preview
  webapi/Controllers/ChatController.cs
  webapi/CopilotChatWebApi.csproj
  webapi/Extensions/SemanticKernelExtensions.cs
  webapi/Options/PlannerOptions.cs
  webapi/Skills/ChatSkills/ChatSkill.cs
  webapi/Skills/ChatSkills/CopilotChatPlanner.cs
  webapi/Skills/ChatSkills/DocumentMemorySkill.cs
  webapi/Skills/ChatSkills/ExternalInformationSkill.cs
  webapi/Skills/ChatSkills/SemanticChatMemoryExtractor.cs
  webapi/Skills/TokenUtilities.cs
  webapi/appsettings.json
Labels: enhancement, webapi, PR: ready for review

#303 Fix formatting of Aad url in react env variables
  scripts/configure.sh
Labels: deployment, PR: ready for review, external issue

#314 Adding option for plugin timeout + using proper userId for guest accounts
  webapi/Controllers/ChatController.cs
  webapi/Options/PlannerOptions.cs
  webapi/appsettings.json
  webapp/src/App.tsx
Labels: bug, enhancement, webapp, webapi, PR: ready for review

#329 Updating SK packages to 0.23.230906.2-preview
  webapi/Controllers/ChatController.cs
  webapi/Controllers/DocumentImportController.cs
  webapi/CopilotChatWebApi.csproj
  webapi/Services/AzureContentSafety.cs
  webapi/Skills/ChatSkills/ChatSkill.cs
Labels: webapi, PR: ready for review

#319 Verify backend is up before running frontend in start scripts
  .gitignore
  scripts/Start.ps1
  scripts/start.sh
Labels: PR: ready for review

#316 Maintenance framework
  webapi/Controllers/MaintenanceController.cs
  webapi/Models/Response/MigrationResult.cs
  webapi/Options/ServiceOptions.cs
  webapi/Program.cs
  webapi/Services/MaintenanceMiddleware.cs
  webapi/appsettings.json
  webapp/src/App.tsx
  webapp/src/components/chat/chat-list/ChatList.tsx
  webapp/src/components/views/BackendProbe.tsx
  webapp/src/redux/features/app/AppState.ts
  webapp/src/redux/features/app/appSlice.ts
  webapp/src/redux/features/message-relay/signalRHubConnection.ts
Labels: webapp, webapi, PR: ready for review

#334 Fix async signature
  webapi/Controllers/MaintenanceController.cs
Labels: bug, webapi, PR: ready for review, .NET

#335 Update citations
  webapi/Models/Storage/CitationSource.cs
  webapi/Skills/ChatSkills/SemanticMemoryRetriever.cs
  webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
  webapp/src/components/chat/chat-history/ChatHistoryTextContent.tsx
  webapp/src/components/chat/chat-history/CitationCards.tsx
  webapp/src/libs/models/ChatMessage.ts
Labels: enhancement, webapp, webapi, PR: ready for review

#343 Fix Exception catch block for vector-storage connector
  webapi/Controllers/BotController.cs
  webapi/Controllers/ChatMemoryController.cs
  webapi/Skills/ChatSkills/DocumentMemorySkill.cs
  webapi/Skills/ChatSkills/SemanticChatMemoryExtractor.cs
  webapi/Skills/ChatSkills/SemanticChatMemorySkill.cs
Labels: bug, webapi, PR: ready for review, PR: regression fix, sk team issue, .NET, memory

#345 Update sub-readmes for getting started
  README.md
  webapi/README.md
  webapp/README.md
Labels: documentation, webapp, webapi, PR: ready for review

#336 Fix multi-user chat feature toggle behavior
  webapp/src/components/chat/ChatInput.tsx
  webapp/src/components/chat/chat-list/ChatList.tsx
  webapp/src/components/header/settings-dialog/SettingSection.tsx
  webapp/src/libs/hooks/useChat.ts
  webapp/src/redux/features/conversations/ChatState.ts
  webapp/src/redux/features/conversations/conversationsSlice.ts
Labels: bug, webapp, PR: ready for review

#346 Querying chat messages with partition key
  webapi/README.md
  webapi/Skills/ChatSkills/ChatSkill.cs
  webapi/Storage/CosmosDbContext.cs
  webapi/Storage/IRepository.cs
  webapi/Storage/IStorageEntity.cs
  webapi/appsettings.json
Labels: bug, documentation, webapi, PR: ready for review

#349 Inline citations
  webapi/Controllers/ServiceOptionsController.cs
  webapi/Skills/ChatSkills/SemanticMemoryRetriever.cs
  webapp/src/components/chat/chat-history/ChatHistoryTextContent.tsx
  webapp/src/components/utils/TextUtils.tsx
Labels: enhancement, webapp, webapi, PR: ready for review

#337 Refactor ChatSkill to use new Chat Completions prompt format
  webapi/Auth/PassThroughAuthenticationHandler.cs
  webapi/Models/Response/BotResponsePrompt.cs
  webapi/Options/PromptsOptions.cs
  webapi/Skills/ChatSkills/ChatSkill.cs
  webapi/Skills/ChatSkills/ExternalInformationSkill.cs
  webapi/Skills/TokenUtilities.cs
  webapi/appsettings.json
  webapp/src/components/chat/plan-viewer/PlanViewer.tsx
  webapp/src/components/chat/prompt-dialog/PromptDialog.tsx
  webapp/src/components/token-usage/TokenUsageGraph.tsx
  webapp/src/components/utils/TextUtils.tsx
  webapp/src/libs/models/BotResponsePrompt.ts
Labels: enhancement, webapp, webapi, PR: ready for review

#364 Remove unused webapi packages
  webapi/CopilotChatWebApi.csproj
Labels: webapi, PR: ready for review

#368 Dev UX - Redirect root path to swagger
  webapi/Program.cs
Labels: enhancement, webapi, PR: ready for review

#369 Updating SK to dotnet-0.24.230918.1-preview
  webapi/Controllers/ChatController.cs
  webapi/CopilotChatWebApi.csproj
  webapi/Extensions/SemanticKernelExtensions.cs
  webapi/Models/Response/BotResponsePrompt.cs
  webapi/Skills/ChatSkills/ChatSkill.cs
  webapi/Skills/TokenUtilities.cs
  webapp/src/libs/services/BaseService.ts
Labels: webapp, webapi, PR: ready for review

#375 Revert deployment asp name change
  scripts/deploy/main.bicep
  scripts/deploy/main.json
Labels: deployment, PR: ready for review, PR: regression fix

#376 Update e2e test action for new settings
  .github/workflows/copilot-test-e2e.yml
  memorypipeline/appsettings.json
  webapi/appsettings.json
  webapp/tests/utils.ts
Labels: webapp, webapi, PR: ready for review, PR: regression fix, github actions

#347 Add support for loading native skills from a local directory and refactor skill registration
  .gitignore
  scripts/deploy/README.md
  webapi/CopilotChatWebApi.csproj
  webapi/Extensions/SemanticKernelExtensions.cs
  webapi/Options/ServiceOptions.cs
  webapi/README.md
  webapi/appsettings.json
Labels: documentation, webapi, deployment, PR: ready for review

#385 Update scripts\Start.ps1
  scripts/Start.ps1
Labels: bug, enhancement, PR: ready for review

#398 Add option to manually build memory pipeline executable
  .github/workflows/copilot-build-memorypipeline.yml
Labels: PR: ready for review, github actions

#401 Update readme for PowerShell Core 6+
  README.md
Labels: documentation, PR: ready for review

#405 Stop adding "PR: ready for review" to all PRs
  .github/labeler.yml
Labels: PR: ready for review

#373 Keep hidden conversations invisible
  webapp/src/components/chat/ChatRoom.tsx
  webapp/src/libs/hooks/useChat.ts
Labels: webapp, PR: ready for review, PR: regression fix

#403 Fix CORS issue for custom plugins
  webapi/Controllers/ChatController.cs
  webapp/src/Constants.ts
  webapp/src/components/open-api-plugins/plugin-wizard/PluginWizard.tsx
  webapp/src/components/open-api-plugins/plugin-wizard/steps/ValidateManifestStep.tsx
  webapp/src/components/utils/FileUtils.ts
  webapp/src/components/utils/PluginUtils.ts
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/hooks/usePlugins.ts
  webapp/src/libs/services/BaseService.ts
  webapp/src/libs/services/ChatService.ts
Labels: webapp, webapi

#410 Using semantic memory type enum instead of string in API contract.
  webapi/Controllers/ChatMemoryController.cs
  webapi/Models/Request/SemanticMemoryType.cs
  webapi/Options/PromptsOptions.cs
  webapi/Skills/ChatSkills/SemanticChatMemoryExtractor.cs
  webapi/appsettings.json
Labels: webapi

#409 🚀 Feature: Re-run saved plans
  webapi/Controllers/ChatController.cs
  webapi/Controllers/ChatHistoryController.cs
  webapi/Extensions/SemanticKernelExtensions.cs
  webapi/Models/Request/ExecutePlanParameters.cs
  webapi/Models/Response/BotResponsePrompt.cs
  webapi/Models/Response/ProposedPlan.cs
  webapi/Models/Response/SemanticDependencies.cs
  webapi/Options/PromptsOptions.cs
  webapi/Skills/ChatSkills/ChatSkill.cs
  webapi/Skills/ChatSkills/ExternalInformationSkill.cs
  webapi/Skills/ChatSkills/SemanticChatMemoryExtractor.cs
  webapi/Skills/ChatSkills/SemanticMemoryRetriever.cs
  webapi/Skills/Utils/AsyncUtils.cs
  webapi/Skills/Utils/PromptUtils.cs
  webapi/Skills/Utils/TokenUtils.cs
  webapi/appsettings.json
  webapp/src/components/chat/ChatRoom.tsx
  webapp/src/components/chat/ChatWindow.tsx
  webapp/src/components/chat/chat-history/ChatHistory.tsx
  webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
  webapp/src/components/chat/chat-list/ChatListSection.tsx
  webapp/src/components/chat/plan-viewer/PlanBody.tsx
  webapp/src/components/chat/plan-viewer/PlanDialogView.tsx
  webapp/src/components/chat/plan-viewer/PlanJsonViewer.tsx
  webapp/src/components/chat/plan-viewer/PlanStepCard.tsx
  webapp/src/components/chat/plan-viewer/PlanStepInput.tsx
  webapp/src/components/chat/plan-viewer/PlanViewer.tsx
  webapp/src/components/chat/prompt-dialog/PromptDialog.tsx
  webapp/src/components/chat/tabs/PlansTab.tsx
  webapp/src/components/open-api-plugins/PluginConnector.tsx
  webapp/src/components/open-api-plugins/plugin-wizard/PluginWizard.tsx
  webapp/src/components/token-usage/TokenUsageGraph.tsx
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/models/BotResponsePrompt.ts
  webapp/src/libs/models/Plan.ts
  webapp/src/libs/services/ChatService.ts
  webapp/src/libs/utils/PlanUtils.ts
  webapp/src/redux/features/app/appSlice.ts
  webapp/src/styles.tsx
Labels: enhancement, webapp, webapi, sk team issue

#413 Fix packaging bash scripts
  scripts/deploy/package-memorypipeline.sh
  scripts/deploy/package-webapi.sh
Labels: deployment, PR: regression fix

#415 Minor updates before removing auth env variables
  webapi/Controllers/ServiceInfoController.cs
  webapi/Extensions/ServiceExtensions.cs
  webapi/Models/Response/FrontendAuthConfig.cs
  webapi/Program.cs
  webapp/src/App.tsx
  webapp/src/components/chat/ChatInput.tsx
  webapp/src/components/chat/shared/EditChatName.tsx
  webapp/src/components/header/UserSettingsMenu.tsx
  webapp/src/components/header/settings-dialog/SettingSection.tsx
  webapp/src/components/open-api-plugins/PluginConnector.tsx
  webapp/src/components/open-api-plugins/cards/PluginCard.tsx
  webapp/src/components/utils/TextUtils.tsx
  webapp/src/components/views/Login.tsx
  webapp/src/index.tsx
  webapp/src/libs/auth/AuthHelper.ts
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/hooks/useFile.ts
  webapp/src/libs/hooks/useGraph.ts
  webapp/src/libs/hooks/usePlugins.ts
  webapp/src/libs/services/BaseService.ts
  webapp/src/redux/features/app/AppState.ts
  webapp/src/redux/features/message-relay/signalRHubConnection.ts
  webapp/src/redux/features/plugins/PluginsState.ts
  webapp/tests/README.md
Labels: documentation, webapp, webapi

#416 Fix repository TryFindByIdAsync
  webapi/Program.cs
  webapi/Storage/Repository.cs
Labels: webapi

#420 Sanitize log entry for memoryType
  webapi/Controllers/ChatMemoryController.cs
Labels: webapi
