Repository microsoft/chat-copilot, pull requests merged in 2024-07, with the labels that each got.

#1038 fix: remove chat memories not selecting the right document id values /webapi
  webapi/Extensions/ISemanticMemoryClientExtensions.cs
Labels: webapi

#1046 Change default model to gpt-4o
  webapi/appsettings.json
Labels: webapi

#1048 Minor change to make latest version of ESLint pass
  webapp/package.json
  webapp/src/components/chat/chat-list/ChatList.tsx
  webapp/yarn.lock
Labels: dependencies, webapp

#1076 Fix race condition in the creation of scoped kernels
  webapi/Services/SemanticKernelProvider.cs
Labels: bug

#1080 Update model references from gpt-35-turbo to gpt-4o
  README.md
  memorypipeline/appsettings.json
  scripts/.env
  scripts/Variables.ps1
  scripts/deploy/main.bicep
  scripts/deploy/main.json
  webapi/appsettings.json
Labels: documentation, webapi, deployment

#1092 Removing deployment pipelines.
  .github/workflows/copilot-deploy-backend.yml
  .github/workflows/copilot-deploy-environment.yml
  .github/workflows/copilot-deploy-infra.yml
  .github/workflows/copilot-deploy-memorypipeline.yml
  .github/workflows/copilot-deploy-pipeline.yml
  .github/workflows/copilot-deploy-plugins.yml
Labels: github actions
