Repository microsoft/chat-copilot, pull requests merged in 2024-06, with the labels that each got.

#980 Upgrade to SK 1.12
  .github/workflows/copilot-build-backend.yml
  .github/workflows/copilot-build-memorypipeline.yml
  .github/workflows/copilot-build-plugins.yml
  .github/workflows/copilot-deploy-backend.yml
  .github/workflows/copilot-deploy-infra.yml
  .github/workflows/copilot-deploy-memorypipeline.yml
  .github/workflows/copilot-deploy-plugins.yml
  .github/workflows/copilot-test-e2e.yml
  .github/workflows/dotnet-format.yml
  docker/docker-compose.yaml
  docker/memorypipeline/Dockerfile
  docker/plugins/web-searcher/Dockerfile
  docker/webapi/Dockerfile
  integration-tests/ChatCopilotIntegrationTests.csproj
  memorypipeline/CopilotChatMemoryPipeline.csproj
  memorypipeline/appsettings.json
  scripts/deploy/main.bicep
  scripts/deploy/main.json
  shared/ConfigurationBuilderExtensions.cs
  shared/CopilotChatShared.csproj
  shared/Ocr/ConfigurationExtensions.cs
  shared/ServiceConfiguration.cs
  tools/importdocument/ImportDocument.csproj
  webapi/Auth/PassThroughAuthenticationHandler.cs
  webapi/CopilotChatWebApi.csproj
  webapi/Extensions/ISemanticMemoryClientExtensions.cs
  webapi/README.md
  webapi/appsettings.json
Labels: documentation, webapi, deployment, github actions

#1000 move Chat component logic to separate file
  webapp/src/App.tsx
  webapp/src/components/chat/Chat.tsx
Labels: webapp

#994 fix(webapp): Fix 989 issue
  webapp/src/index.tsx
Labels: webapp

#1006 Lower DocumentMemoryMinRelevance from 0.8 to 0.66
  webapi/Options/PromptsOptions.cs
Labels: webapi

#1007 Replace AzureFormRecognizer with AzureAIDocIntel in settings
  memorypipeline/appsettings.json
  webapi/README.md
  webapi/appsettings.json
Labels: documentation, webapi

#1008 Fix FileUploader
  webapp/src/components/FileUploader.tsx
Labels: webapp

#1020 Update scripts to use .Net 8
  scripts/Install.ps1
  scripts/deploy/package-memorypipeline.ps1
  scripts/deploy/package-memorypipeline.sh
  scripts/deploy/package-plugins.ps1
  scripts/deploy/package-plugins.sh
  scripts/deploy/package-webapi.ps1
  scripts/deploy/package-webapi.sh
Labels: deployment
