Repository microsoft/chat-copilot, pull requests merged in 2024-10, with the labels that each got.

#1180 Update NuGet packages
  integration-tests/ChatCopilotIntegrationTests.csproj
  plugins/web-searcher/PluginEndpoint.cs
  tools/importdocument/ImportDocument.csproj
  webapi/CopilotChatWebApi.csproj
  webapp/yarn.lock
Labels: documentation, dependencies, webapp, webapi, deployment, github actions

#1193 Fix memory extraction json format issue
  webapi/Controllers/ChatMemoryController.cs
  webapi/Plugins/Chat/SemanticChatMemoryExtractor.cs
Labels: webapi

#1198 Fix: Load multiple chats during first startup
  webapp/src/App.tsx
  webapp/src/components/chat/Chat.tsx
Labels: webapp

#1199 Fix: App component UseEffect infinite loop
  webapp/src/App.tsx
Labels: webapp
