Repository microsoft/chat-copilot, pull requests merged in 2024-02, with the labels that each got.

#789 Included button to copy chat history item
  webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
Labels: webapp

#791 Remove Memory Migration
  webapi/Controllers/MaintenanceController.cs
  webapi/Extensions/ServiceExtensions.cs
  webapi/Program.cs
  webapi/Services/MemoryMigration/ChatMemoryMigrationService.cs
  webapi/Services/MemoryMigration/ChatMigrationMaintenanceAction.cs
  webapi/Services/MemoryMigration/ChatMigrationMonitor.cs
  webapi/Services/MemoryMigration/ChatMigrationStatus.cs
  webapi/Services/MemoryMigration/IChatMemoryMigrationService.cs
  webapi/Services/MemoryMigration/IChatMigrationMonitor.cs
Labels: webapi

#815 .Net - Fix maintenance-middleware DI
  webapi/Extensions/ServiceExtensions.cs
  webapi/Program.cs
Labels: bug, webapi, .NET

#821 Ignore stackoverflow links in markdown-link-check process because it …
  .github/workflows/markdown-link-check-config.json
Labels: github actions

#817 Upgrade to Semantic Kernel 1.4
  README.md
  integration-tests/ChatCopilotIntegrationTests.csproj
  memorypipeline/CopilotChatMemoryPipeline.csproj
  memorypipeline/README.md
  memorypipeline/appsettings.json
  scripts/deploy/deploy-azure.ps1
  scripts/deploy/deploy-azure.sh
  scripts/deploy/main.bicep
  scripts/deploy/main.json
  shared/ConfigurationBuilderExtensions.cs
  shared/CopilotChatShared.csproj
  shared/KernelMemoryBuilderExtensions.cs
  shared/MemoryClientBuilderExtensions.cs
  shared/Ocr/ConfigurationExtensions.cs
  shared/Ocr/Tesseract/TesseractOcrEngine.cs
  shared/ServiceConfiguration.cs
  tools/importdocument/ImportDocument.csproj
  webapi/Controllers/ChatController.cs
  webapi/Controllers/PluginController.cs
  webapi/CopilotChatWebApi.csproj
  webapi/Extensions/ISemanticMemoryClientExtensions.cs
  webapi/Extensions/SemanticKernelExtensions.cs
  webapi/Extensions/ServiceExtensions.cs
  webapi/Models/Request/ExecutePlanParameters.cs
  webapi/Models/Response/AskResult.cs
  webapi/Models/Response/BotResponsePrompt.cs
  webapi/Models/Response/PlanExecutionMetadata.cs
  webapi/Models/Response/ProposedPlan.cs
  webapi/Models/Response/SemanticDependency.cs
  webapi/Models/Storage/CopilotChatMessage.cs
  webapi/Options/MemoryStoreType.cs
  webapi/Options/PlannerOptions.cs
  webapi/Options/PromptsOptions.cs
  webapi/Plugins/Chat/ChatPlugin.cs
  webapi/Plugins/Chat/CopilotChatPlanner.cs
  webapi/Plugins/Chat/ExternalInformationPlugin.cs
  webapi/Plugins/Chat/SemanticChatMemoryExtractor.cs
  webapi/Plugins/Chat/SemanticMemoryRetriever.cs
  webapi/Plugins/Utils/AsyncUtils.cs
  webapi/Plugins/Utils/TokenUtils.cs
  webapi/Program.cs
  webapi/README.md
  webapi/Services/AzureContentSafety.cs
  webapi/Services/MaintenanceMiddleware.cs
  webapi/Services/SemanticKernelProvider.cs
  webapi/Storage/CosmosDbContext.cs
  webapi/Storage/FileSystemContext.cs
  webapi/Storage/Repository.cs
  webapi/Storage/VolatileContext.cs
  webapi/Utilities/PluginUtils.cs
  webapi/appsettings.json
  webapp/src/libs/hooks/useChat.ts
  webapp/src/redux/features/app/AppState.ts
Labels: documentation, webapp, webapi, deployment

#823 Remove remnants of memory migration
  webapi/Options/DocumentMemoryOptions.cs
  webapi/Plugins/Chat/ChatPlugin.cs
  webapi/Services/SemanticKernelProvider.cs
  webapi/appsettings.json
Labels: enhancement, webapi
