Repository microsoft/chat-copilot, pull requests merged in 2024-03, with the labels that each got.

#824 Fix token budgeting
  webapi/Plugins/Chat/ChatPlugin.cs
  webapi/Plugins/Utils/TokenUtils.cs
Labels: webapi

#825 Remove unused code path in HandleBotResponseAsync()
  webapi/Plugins/Chat/ChatPlugin.cs
Labels: webapi

#840 Update to latest SK version
  memorypipeline/CopilotChatMemoryPipeline.csproj
  shared/CopilotChatShared.csproj
  webapi/CopilotChatWebApi.csproj
Labels: webapi

#843 Provide only correct names to ConfigureQueueDependency()
  shared/ServiceConfiguration.cs
  webapi/appsettings.json
Labels: webapi

#845 Simplify GitHub actions and fix parts of integration testing
  .github/workflows/copilot-deploy-backend.yml
  .github/workflows/copilot-deploy-environment.yml
  .github/workflows/copilot-deploy-infra.yml
  .github/workflows/copilot-deploy-memorypipeline.yml
  .github/workflows/copilot-deploy-pipeline.yml
  .github/workflows/copilot-deploy-plugins.yml
  .github/workflows/copilot-run-integration-tests.yml
  .github/workflows/copilot-test-e2e.yml
Labels: github actions

#846 Provide environment to int tests
  .github/workflows/copilot-deploy-pipeline.yml
Labels: github actions

#839 Fix token budget + Clarify code
  webapi/Plugins/Chat/ChatPlugin.cs
  webapi/Plugins/Chat/SemanticChatMemoryExtractor.cs
  webapi/Plugins/Utils/TokenUtils.cs
Labels: webapi

#888 Fix test username and password
  .github/workflows/copilot-run-integration-tests.yml
  integration-tests/ChatCopilotIntegrationTest.cs
  integration-tests/testsettings.json
Labels: github actions

#864 Refactor ChatController for Asynchronous Plugin Registration
  webapi/Controllers/ChatController.cs
Labels: webapi

#902 Respect order, number to skip and number to take of chat messages at underlying DB level rather than higher
  webapi/Controllers/ChatArchiveController.cs
  webapi/Controllers/ChatHistoryController.cs
  webapi/Extensions/ServiceExtensions.cs
  webapi/Plugins/Chat/ChatPlugin.cs
  webapi/Storage/ChatMessageRepository.cs
  webapi/Storage/CosmosDbContext.cs
  webapi/Storage/FileSystemContext.cs
  webapi/Storage/IStorageContext.cs
  webapi/Storage/Repository.cs
  webapi/Storage/VolatileContext.cs
  webapp/src/libs/services/ChatService.ts
Labels: webapp, webapi, performance
